################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenGL/.vs/OpenGL/v17
/OpenGL/OpenGL/OpenGL.vcxproj.user
/OpenGL/OpenGL/OpenGL.vcxproj.filters
